
div {
    display: block;
}

body {
    background-color: #fff;
    color: #000;
}

header {
	height: 85px;
	border-bottom: solid thin #DDD;
	margin-bottom: 2rem;
	background-color: #edf8fc;
}

#logo {
	height: 80px;
}

header h1 {
	font-family: yeseva-one, serif;
	display : inline;
}

container {
    max-width: 1024px;
    margin: 0 auto;
	width: 85%;
    line-height: 1.6;
    font-weight: 400;
	font-family: source-sans-pro, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.message {
	font-size : 14pt;
}

.message-list {
	list-style-type : none;
	padding : 0;
}

.message-list li {
	padding : .5em 0 .5em 0;
}

.message .username {
	font-weight : bold;
	margin-right : 1em;
}

.message .timeago {
	margin-left : 1em;
	font-style : italic;
	color : #c0c0c0;
	padding : 0 .3em 0 .3em;
	border-left : 1px solid #c0c0c0;
	border-right : 1px solid #c0c0c0;
}

footer {
	text-align : center;
}

.to {
	background-color : #f0f0f0;
}

.error {
	color : red;
}

#currentUser {
	text-align : right;
	font-weight : bold;
}

.uaButton {
	-moz-box-shadow:inset 0px -1px 8px 3px #eee;
	-webkit-box-shadow:inset 0px -1px 8px 3px #eee;
	box-shadow:inset 0px -1px 8px 3px #eee;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #bbb;
	width:100px;
	display:inline;
	cursor:pointer;
	font-size:15px;
	text-align: center;
	color: #FFF;
	padding:6px 13px;
	text-shadow:0px 1px 0px #263666;
	margin: 9px auto;
}

.uaButton a {
	color: #bbb;
	text-decoration:none;
}

.uaButton:hover {
	box-shadow:inset 0px 0px 7px 2px aqua;
}
.uaButton:active {
	position:relative;
	top:1px;
	text-decoration: none;
}